*{
  text-decoration: none;
margin: 0;
padding: 0;
    
    }
 html{
    height: 100%;
 } 
body{
min-height: 100vh;
}



 
.back-color{
    background-color:rgb(21, 17, 17);
}

/*NAVIGATION*/
.flex{
    display: flex;
    gap: var(--gap, 1rem);

}
.logo{
    margin: 1rem;
    color: rgb(237, 234, 233);
    font-weight: bolder;
}
.primary-header {
    align-items: center;
    justify-content: space-between;
   
    
}

.sidebar{
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsla(0, 0%, 5%, 0.4);
    backdrop-filter: blur(1rem);
    

}
.sidebar a{
    text-decoration: none;
    color: rgb(220, 225, 226);
    font-weight: bold;
    
  
}
.mobile-nav-toggle{
    display: none;
}



.sr-only {
/*hides from viewers but shows items to screen readers*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }



/*responsiveness*/
@media (max-width: 40em) {
    .sidebar{
        --gap:1.5em;

       position: fixed; 
       z-index:1000 ;
       inset: 0 0 0 40%;/*inset means top bottom left and right margin*/
       flex-direction: column;
       padding:min(10vh, 10rem) 2rem ;
       align-items: flex-start;

       transform: translateX(100%);/*the bar moves 100% off the page*/
       transition:transform 350ms ease-out ;/*animation*/
    }


    .sidebar[data-visible = "true"]{
        transform: translateX(0%);
    }



    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;/*makes it appear on top*/
        background-color: transparent;
        background-image: url(Icons/menu.svg);
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;/*width and height are the same*/
        top: 1.5rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded ="true"]{
        background-image: url(Icons/cancel.svg);
    }

}




/*Adding a hover effect to the navbar only when you point at the links*/
.main-bar a:hover {
color: rgb(14, 14, 14);
background-color: #999999;
   

}



    body
    {
padding: top 60px ;
min-height: 100%;
display: flex;
flex-direction: column;
overflow-x: hidden;/*to prevent any overflow on the bar as it dissapears*/
    }


body p
{
 text-align: center;
 text-decoration-style: solid;
 text-decoration-color: rgb(52, 19, 19);

}




/*for the headings */
.Heading-1 
{
color: #2D2305;
position:absolute;/*makes it appear over the background image*/
border-top: 50%;
width: 100%;
text-align:left;
margin-top: 100px;
font-weight: 1000px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Heading-2
{
    color: #2D2305;
    position:absolute;
    border-top: 50%;
    width: 100%;
    text-align:left;
    margin-top: 550px;
}



button
{
    background-color:#e28743 ;
    border-radius: 25px;
    margin-left: 10px;
    width: 90px;
    padding: 10px;
    cursor: pointer;
   
}
button a /*editting the button text*/
{
    color: rgb(23, 1, 1);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

 button:hover{
    background-color:#bfafa3 ;
 }


/*editting the divisions*/
.contact-div{
    width: 100vph;
    margin-top: 100px;
    height: 100vph; 
    margin-right: 50%;
    margin-left: 40%; 
    font-size: larger;
}
.to-contact-us{
width: 300px;
height: 100px;

}
.call{
width: 300px;    
height: 100px;
}
.email{
width: 300px;
height: 100px;
}


.order-div{
    width: 300px;
    margin-top: 80px;
    
}
.about-div{
    width: 100%;
    margin-top: 80px;
    position: absolute;/*content appears on top of the background image*/
    overflow: auto;
    padding-bottom: 100px;
    color: rgb(249, 248, 247);
    background-color: rgba(0, 0, 0, 0.71);
    font-size: large;
}
.about-image{
    border-radius: 30%;
    width: 300px;
}
.what-is-stalozran{
    font-size: x-large;
    margin-top: 30px;
    margin-top: 25px;
    color: rgb(226,135,67);
}

.logIn{
    width: 50%;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 50%;

    outline: 0;
    border: 2px solid #0be4c0;;
    border-radius: 3px;
    padding:10px ;
    padding-left: 60px;
    background:transparent;
    font-size: 2em;
    color: #999999;
    background-color:rgba(0, 0, 0, 0.71); 
   
}


.next-button{
    width: 100%;
    outline: 0;
    border: 2px solid rgb(22, 21, 21);
    border-radius: 3px;
    padding-top: 0px;
    padding-left: 60px;
    background-color:#e28743 ;
    font-size: 2em;
    color: rgb(112, 15, 15);
    font-weight: bold;
    height: 60px;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 20px;



}


.image-div{
    height: 100%;
    width: fit-content;
    vertical-align: top;
    margin-top: 80px;
    position: absolute;

}
.image-1{
    width: 300px;
    display: inline-block ;
    width: 300px;

}
.image-2{
    width: 300px;
    display: inline-block;
}
.image-3{
    width: 300px;
    display: inline-block;
}
.image-4{
    width: 300px;
    display: inline-block;
}
.image-5{
    width: 300px;
    display: inline-block;
}
.image-6{
    width: 300px;
    display: inline-block;
}
.image-7{
    width: 300px;
    display: inline-block;
}

.hotdeals-div{
    height: 100%;
    width: fit-content;
    vertical-align: top;
    margin-top: 80px;
    position: absolute;
}



.field-group{
    width: 600px;
    position: relative;
    margin-top: 100px;
    
}
.input-field{
    width: 100%;
    outline: 0;
    border: 2px solid #999999;
    border-radius: 3px;
    padding:10px ;
    padding-left: 60px;
    background:transparent;
    font-size: larger;
    color: #999999;
}
.input-field-last{
    width: 100%;
    outline: 0;
    border: 2px solid #999999;
    border-radius: 3px;
    padding:10px ;
    padding-left: 60px;
    background:transparent;
    font-size: larger;
    color: #999999;
    margin-bottom: 50px;

}
    


.input-field::placeholder{
    color: #6f6e6e;

}
.icon{
    position:absolute ;
    left: 0;
    top:0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: centre;
    color: #999999;
    font-size: 1.6em;
}
.input-field:focus{
    color:#ffffff ;
    border-color: #ffffff;
}
.input-field:focus ~ .icon{
    color:#ffffff;

}

footer{
    background-color: #212727;
    color: #999999;
    background-attachment: fixed;/*makes the footer remain fixed*/
    margin-top: auto;
    height: 100px;
    margin-top: -100px;
    clear: both;
    text-decoration: none;


    position: fixed;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.71);
        box-sizing: border-box;
        z-index: 9999;
        padding-top: 0;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
}

.main-container{
    min-height: 100%;
}

