*{
  text-decoration: none;
    
    
    }
 html{
    height: 100%;
 } 
body{
min-height: 100vh;
}



 
    .back-color{
        background-color:rgba(92, 130, 132);
    }

/*SIDEBAR*/
.sidebar{
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 250px;
z-index: 999;
background-color: rgba(0, 0, 0, 0.71);
backdrop-filter: blur(10px);/*blurs the background of the bar*/
box-shadow: -10px 0 10px rgba(181, 18, 18, 0.71);
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.sidebar li{
width: 100%;

}
.sidebar a{
    width: 100%;
    
 }





/*NAVIGATION BAR*/
    .main-bar{ 
        position: fixed;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.71);
        box-sizing: border-box;
        z-index: 9999;
        padding-top: 0;
        padding-bottom: 5px;
        display: flex;
        align-items: end;
        justify-content: space-between;
       }
/*Adding a hover effect to the navbar only when you point at the links*/
.main-bar a:hover {
   color: rgb(195, 157, 69);
   

}


.navigationdiv/*edits the division for the navigation*/
{
display: flex; align-items: center; justify-content: space-between;

}

   .navigationdiv ul li {/*list item that helps to move to the individual links inside the list*/
    list-style: none;
    height:100px;

    display: inline-block;/*puts the links next to each other*/
    line-height:60px;
    }
.navigationdiv li:first-child{
    margin-right: auto;
}

ul{
    margin-left: 80px; margin-bottom: 0px;
}
    
    ul li a  {/*helps to style the actual text inside the link*/
    text-decoration: none;/*removes the underline on the links*/
    font-size: 13px;
    font-weight: bold;
    margin-right: 25px;
    margin-top:20px ;
    margin-bottom: 20px;
    margin-right: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(34, 206, 186);
    padding-top: 50%;
    display: flex;
    align-items: end;
    }

    .logo{
        margin-bottom: 20px;
    }
    .logo a{
        font-size: 25px; font-weight: bold; color: grey; text-decoration: none;
        align-items: start; margin-left: 60px; margin-right: 0px;
     }




    body
    {
padding: top 60px ;
min-height: 100%;
display: flex;
flex-direction: column;
    }


body p
{
 text-align: center;
 text-decoration-style: solid;
 text-decoration-color: rgb(52, 19, 19);

}




/*for the headings */
.Heading-1 
{
color: #2D2305;
position:absolute;/*makes it appear over the background image*/
border-top: 50%;
width: 100%;
text-align:left;
margin-top: 100px;
font-weight: 1000px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Heading-2
{
    color: #2D2305;
    position:absolute;
    border-top: 50%;
    width: 100%;
    text-align:left;
    margin-top: 550px;
}



button
{
    background-color:#e28743 ;
    border-radius: 25px;
    margin-left: 10px;
    width: 90px;
    padding: 10px;
    cursor: pointer;
   
}
button a /*editting the button text*/
{
    color: rgb(23, 1, 1);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

 button:hover{
    background-color:#bfafa3 ;
 }


/*editting the divisions*/
.contact-div{
    width: 100vph;
    margin-top: 100px;
    height: 100vph; 
    margin-right: 50%;
    margin-left: 40%; 
    font-size: larger;
}
.to-contact-us{
width: 300px;
height: 100px;

}
.call{
width: 300px;    
height: 100px;
}
.email{
width: 300px;
height: 100px;
}


.order-div{
    width: 300px;
    margin-top: 80px;
    
}
.about-div{
    width: 100%;
    margin-top: 80px;
    position: absolute;/*content appears on top of the background image*/
    overflow: auto;
    padding-bottom: 100px;
    color: rgb(249, 248, 247);
    background-color: rgba(0, 0, 0, 0.71);
    font-size: large;
}
.about-image{
    border-radius: 30%;
    width: 300px;
}
.what-is-stalozran{
    font-size: x-large;
    margin-top: 30px;
    margin-top: 25px;
    color: rgb(226,135,67);
}

.logIn{
    width: 50%;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 50%;

    outline: 0;
    border: 2px solid #0be4c0;;
    border-radius: 3px;
    padding:10px ;
    padding-left: 60px;
    background:transparent;
    font-size: 2em;
    color: #999999;
    background-color:rgba(0, 0, 0, 0.71); 
   
}


.next-button{
    width: 100%;
    outline: 0;
    border: 2px solid rgb(22, 21, 21);
    border-radius: 3px;
    padding-top: 0px;
    padding-left: 60px;
    background-color:#e28743 ;
    font-size: 2em;
    color: rgb(112, 15, 15);
    font-weight: bold;
    height: 60px;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 20px;



}


.image-div{
    height: 100%;
    width: fit-content;
    vertical-align: top;
    margin-top: 80px;
    position: absolute;

}
.image-1{
    width: 300px;
    display: inline-block ;
    width: 300px;

}
.image-2{
    width: 300px;
    display: inline-block;
}
.image-3{
    width: 300px;
    display: inline-block;
}
.image-4{
    width: 300px;
    display: inline-block;
}
.image-5{
    width: 300px;
    display: inline-block;
}
.image-6{
    width: 300px;
    display: inline-block;
}
.image-7{
    width: 300px;
    display: inline-block;
}
.home-div{
    
}
.hotdeals-div{
    height: 100%;
    width: fit-content;
    vertical-align: top;
    margin-top: 80px;
    position: absolute;
}



.field-group{
    width: 600px;
    position: relative;
    margin-top: 100px;
    
}
.input-field{
    width: 100%;
    outline: 0;
    border: 2px solid #999999;
    border-radius: 3px;
    padding:10px ;
    padding-left: 60px;
    background:transparent;
    font-size: larger;
    color: #999999;
}
.input-field-last{
    width: 100%;
    outline: 0;
    border: 2px solid #999999;
    border-radius: 3px;
    padding:10px ;
    padding-left: 60px;
    background:transparent;
    font-size: larger;
    color: #999999;
    margin-bottom: 50px;

}
    


.input-field::placeholder{
    color: #6f6e6e;

}
.icon{
    position:absolute ;
    left: 0;
    top:0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: centre;
    color: #999999;
    font-size: 1.6em;
}
.input-field:focus{
    color:#ffffff ;
    border-color: #ffffff;
}
.input-field:focus ~ .icon{
    color:#ffffff;

}

footer{
    background-color: #212727;
    color: #999999;
    background-attachment: fixed;/*makes the footer remain fixed*/
    margin-top: auto;
    height: 100px;
    margin-top: -100px;
    clear: both;
    text-decoration: none;


    position: fixed;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.71);
        box-sizing: border-box;
        z-index: 9999;
        padding-top: 0;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
}

.main-container{
    min-height: 100%;
}


/*RESPONSIVENESS*/
@media (min-width:1000px){
.hideOnMobile{
    display: none;

}

}

@media(max-width: 400px){
.sidebar{
    width:25%;
}

}